* {
    margin:0px;
    padding:0px;
}
body {
    text-align:center;
    background-image:url("background.jpg");
    background-size: cover;
}
h1 {
    padding-top:30px;
    color:rgb(16, 14, 114);
}
.inform {
    color:cornflowerblue;
    font-size:30px;
    margin-top:20px;
}
.game {
    height:300px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}
.boxes {
    height:260px;
    width:260px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}
.box {
    height:80px;
    width:80px;
    margin:2px;
    border-radius:20px;
    border:none;
    font-size:25px;
    color:#fff;
    background-color:cornflowerblue;
}
.resetbtn {
    padding:15px;
    font-size:15px;
    background-color:blueviolet;
    color:white;
    border:none;
    border-radius:10px;
    margin-top:30px;
}
.msg {
    font-size : 30px;
    color:rgb(23, 151, 171);
    margin-top: 10px;
}
.newGame {
    padding:15px;
    font-size:15px;
    background-color:blueviolet;
    color:white;
    border:none;
    border-radius:10px;
    margin-top:30px;
}
.hide {
    display:none;
}
.box:hover {
    cursor:pointer;
    border-color:yellow;
    border-radius:10px;
}